<!DOCTYPE html>
<HTML lang="en">
        <HEAD>
                <TITLE>HBNB</TITLE>
        </HEAD>
        <BODY>
                <H1>States</H1>
                <UL>
                	{% for s in state %}
                        <LI>"{{ s.id|e }}: "<B>"{{ s.name|e }}"</B>
                            <UL>
                                {% for c in city %}
                                    {% if c.state_id == s.id %}
                                <LI>{{ c.id|e }}: <B>{{ c.name|e }}</B></LI>
                                    {% endif %}
                                {% endfor %}
                            </UL>
                        </LI>
                	{% endfor %}
                </UL>
        </BODY>
</HTML>
